body{
    /* background-color: rgb(33, 0, 34); */
  
}

.container-service{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 9;
    text-align: center;
    align-items: center;
    padding-left: 150px;
    
    
}
.content{
    background-color: rgba(102, 6, 105, 0.329);
    width: 350px;
    height: 450px;
    margin: 30px;
    margin-top: 80px;
    border-radius: 50px;
    border: 3px solid rgb(51, 1, 66);
    transition: all 0.3s ease-in;
    
}
.content:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.content img{
   
    z-index: 92;
    margin-top: 20px;
    width:80px;
    height: 80px;
    background: transparent;

}
.content h2{ 

  font-size:48x;
  font-style: italic;
  background-color: #df77ff;
  background-image: linear-gradient(to top,#f4f2ff 0%,#00ffea 100%);
  background-size: 100%;
   -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

.service{
  left: 40%;
  position: absolute;
  margin-top: 80px;
  margin-bottom: 10px;
  z-index: 103; 
  font-size: 55px;
  font-style: italic;
  background-color: #77efff;
  background-image: linear-gradient(to top,#ff0000 0%,#9577ff 100%);
  background-size: 100%;
   -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}
#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0)),url('http://localhost/niru_tech/img/12.jpg') ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#btn-service{
    border: none;
    font-size: 20px;
    width: 50%;
    height: 40px;
    background-color: rgb(252, 0, 239);
    border-radius: 30px;
    margin-left: 0px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
}
#btn-service:hover{
    background-color: rgb(195, 0, 255);
    transition: all 0.3s ease;
    transform: scale(1.05);
}
.content h3{ 

    font-size: 18px;
    font-style: italic;
    color: aliceblue;
    margin-top: 50px;
   
  }
  .canv{
      position: relative;
      background: #00000000;
      width: 200px;
      height: 200px;
      
  }